<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script type="text/javascript" src="../dist/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Main Stylesheet File -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/slick.css" rel="stylesheet">
    <link href="../css/slick-theme.css" rel="stylesheet">
    <link href="../css/fontawesome.min.css" rel="stylesheet">
    <link href="../css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../dist/css/styles.css" rel="stylesheet">



</head>

<body>
    <!-- Top Bar -->
    <section id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-4 social-links">
                    <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                </div>
                <div class="col-xl-9 col-lg-9 col-8 contact-info align-middle">
                    <img src="../images/phone-icon.png" title=""><span>Phone: +(84)987271754 -</span>
                    <img src="../images/document-icon.png" title=""><span>Email: info@saigononmotorbike.com -</span>
                    <img src="../images/address-icon.png" title=""><span>Address : 51/11 Cao Thang Street, Ward 3,
                        District3, Ho Chi Minh City</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->
    <header>
        <div id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#"><img src="../images/logo.png" title=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">HOME</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">ABOUT US</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TOURS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">OUR PARTNER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">BLOGS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">GALLERY</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TESIMONIALS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">FAQS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">CONTACT US</a>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                                    <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <div class="banner-blog map">
            <div class="top-banner-blog">HOME - <span>TOURS</span></div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.1256561203004!2d105.97605761451459!3d10.251448292679044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a9d2e302b26bf%3A0xb87fa4531a758cde!2zNjQsIDE3IFRy4bqnbiBQaMO6LCBQaMaw4budbmcgNCwgVsSpbmggTG9uZywgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1561637192488!5m2!1sen!2s"
                width="600" height="330" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            <div class="search-bar">
                <input class="txt" type="text" placeholder="Enter your starting point" />
                <button class="btn">GET DIRECTION</button>
            </div>
        </div>
        <div class="content-contact">

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xs-12">
                        <div class="title">
                            drop us an message
                        </div>
                        <form>
                            <div class="form-group row">
                                <div class="col-lg-6 col-xs-12">
                                    <label for="exampleFormControlInput1">Full Name *</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter name">
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <label for="exampleFormControlInput2">Email *</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput2"
                                        placeholder="Enter mail">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6 col-xs-12">
                                    <label for="exampleFormControlInput3">Phone number *</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput3"
                                        placeholder="Enter phone">
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <label for="exampleFormControlInput3">Subject</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput3"
                                        placeholder="Enter subject">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Message *</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>


                        </form>

                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="content-info-contact">
                            <div class="row-info">
                                Dear our guests,<br /><br />
                                In case you're not clear or you have questions/concerns to ask us, please drop us an
                                email and we will reply as soon as
                                possible. If you are looking for instant reply, please give us a call. Our
                                English-speaking team will give you clear details on everything you ask for.
                            </div>
                            <div class="row-info">
                                <div class="title">
                                    address
                                </div>
                                51/11 Cao Thang Street, Ward 3, District 3, Ho Chi Minh City
                            </div>
                            <div class="row-info">
                                <div class="title">
                                    help center
                                </div>
                                <div class="bold">
                                    Phone:
                                </div>
                                <div><span>+(84)987271754 </span> <span>+(84)987271754 </span> <span>+(84)987271754
                                    </span></div>
                                <a class="email">
                                    Email: info@saigonmotorbike.com
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-lg-4 ">
                    <h2>CONTACT US</h2>
                    <p>Office address :</p>
                    <p>No.49, 17 street, An Phu ward, District 2 Ho Chi Minh City, Vietnam</p>
                    <br>
                    <p>Business address:</p>
                    <p>2nd Floor 6/28 Cach Mang Thang Tam street, District 1, Ho Chi Minh City, Vietnam</p>
                </div>
                <div class="address-us col-xs-12 col-lg-3">
                    <p>Hotline: (+84) 816588886 (WhatsApp)</p>
                    <br>
                    <p>Email: info@vietnamstreetfoods.com</p>
                </div>
                <div class="share-us col-xs-12  col-lg-2 ">
                    <h2>Share With US</h2>
                    <div class="social-links">
                        <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                    </div>
                </div>
                <div class="newsletter col-xs-12 col-lg-3">
                    <h2>NEWSLETTER</h2>
                    <div>
                        <input type="text" class="form-control">
                        <button class="btn-newsletter"></button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section id="bottombar">
        <div>2019 VietNamstreetfoods.com. All Rights Reserved</div>
    </section>
</body>

</html>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>