<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script type="text/javascript" src="../dist/js/scripts.js"></script>
    <!-- Main Stylesheet File -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/slick.css" rel="stylesheet">
    <link href="../css/slick-theme.css" rel="stylesheet">
    <link href="../css/fontawesome.min.css" rel="stylesheet">
    <link href="../css/solid.min.css" rel="stylesheet">
    <link href="../dist/css/styles.css" rel="stylesheet">

</head>

<body>
    <!-- Top Bar -->
    <section id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-4 social-links">
                    <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                </div>
                <div class="col-xl-9 col-lg-9 col-8 contact-info align-middle">
                    <img src="../images/phone-icon.png" title=""><span>Phone: +(84)987271754 -</span>
                    <img src="../images/document-icon.png" title=""><span>Email: info@saigononmotorbike.com -</span>
                    <img src="../images/address-icon.png" title=""><span>Address : 51/11 Cao Thang Street, Ward 3,
                        District3, Ho Chi Minh City</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->
    <header>
        <div id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#"><img src="../images/logo.png" title=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">HOME</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">ABOUT US</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TOURS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">OUR PARTNER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">BLOGS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">GALLERY</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TESIMONIALS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">FAQS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">CONTACT US</a>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                                    <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <div class="banner-top banner-testimonials">
            <div class="container">
                <div class="text-banner">
                    <div class="bottom-text">
                        <span>faqs</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-faq">
            <div class="title">FREQUENTLY ASKED QUESTIONS</div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-12">
                        <div id="accordion">
                            <div class="wrapper-collapse">
                                <div id="heading1" class="title-collapse" data-toggle="collapse"
                                    data-target="#collapse1"  aria-controls="collapse1">
                                    <div class="head-collapse">
                                        <div class="number">1</div>
                                        <div class="text">
                                            Are there restroom breaks during a tour?
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse1" class="collapse" aria-labelledby="heading1"
                                    data-parent="#accordion">
                                    <div class="content-collapse">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-collapse">
                                <div id="heading2" class="title-collapse" data-toggle="collapse"
                                    data-target="#collapse2"  aria-controls="collapse2">
                                    <div class="head-collapse">
                                        <div class="number">2</div>
                                        <div class="text">
                                            Are there restroom breaks during a tour?
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                    data-parent="#accordion">
                                    <div class="content-collapse">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-collapse">
                                <div id="heading3" class="title-collapse" data-toggle="collapse"
                                    data-target="#collapse3"  aria-controls="collapse3">
                                    <div class="head-collapse">
                                        <div class="number">3</div>
                                        <div class="text">
                                            Are there restroom breaks during a tour?
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                    data-parent="#accordion">
                                    <div class="content-collapse">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-collapse">
                                <div id="heading4" class="title-collapse" data-toggle="collapse"
                                    data-target="#collapse4"  aria-controls="collapse4">
                                    <div class="head-collapse">
                                        <div class="number">4</div>
                                        <div class="text">
                                            Are there restroom breaks during a tour?
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                    data-parent="#accordion">
                                    <div class="content-collapse">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-collapse">
                                <div id="heading5" class="title-collapse" data-toggle="collapse"
                                    data-target="#collapse5"  aria-controls="collapse5">
                                    <div class="head-collapse">
                                        <div class="number">5</div>
                                        <div class="text">
                                            Are there restroom breaks during a tour?
                                        </div>
                                    </div>
                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5"
                                    data-parent="#accordion">
                                    <div class="content-collapse">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                        haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="top-video">
                            <div class="title">video</div>
                            <video poster="../images/gallary/image-video.png" controls>
                                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="advisor">
                            <div class="row-item">
                                <div class="title-top"><span>trip</span>advisor</div>
                                <div class="small-txt">Know better Book better Go better</div>
                            </div>
                            <div class="row-item">
                                <div class="big-txt">Saigon On Motorbike</div>
                                <div class="middle-txt">TripAdvisor Traveler rating</div>
                                <div class="review-advisor"><span></span> <span></span></div>
                                <div class="small-txt">Based on 1,582 traveler reviews</div>
                            </div>
                            <div class="row-item">
                                <div class="middle-txt">TripAdvisor Ranking</div>
                                <div class="blue-txt">#2 of 350 Shopping in Ho Chi Minh City</div>
                            </div>
                            <div class="row-item">
                                <div class="middle-txt">Most Recent Traveler Reviews</div>
                                <ul class="time-reviews">
                                    <li>Jun 9, 2019: "Best tour in Saigon.."</li>
                                    <li>Jun 9, 2019: "Best tour in Saigon.."</li>
                                    <li>Jun 9, 2019: "Best tour in Saigon.."</li>
                                    <li>Jun 9, 2019: "Best tour in Saigon.."</li>
                                </ul>
                                <div class="read-review">
                                    <a href="#">Read reviews</a>
                                    <a href="#">Write reviews</a>
                                </div>
                                <span class="author">@2019 TripAdvisor LLC</span>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-lg-4 ">
                    <h2>CONTACT US</h2>
                    <p>Office address :</p>
                    <p>No.49, 17 street, An Phu ward, District 2 Ho Chi Minh City, Vietnam</p>
                    <br>
                    <p>Business address:</p>
                    <p>2nd Floor 6/28 Cach Mang Thang Tam street, District 1, Ho Chi Minh City, Vietnam</p>
                </div>
                <div class="address-us col-xs-12 col-lg-3">
                    <p>Hotline: (+84) 816588886 (WhatsApp)</p>
                    <br>
                    <p>Email: info@vietnamstreetfoods.com</p>
                </div>
                <div class="share-us col-xs-12  col-lg-2 ">
                    <h2>Share With US</h2>
                    <div class="social-links">
                        <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                    </div>
                </div>
                <div class="newsletter col-xs-12 col-lg-3">
                    <h2>NEWSLETTER</h2>
                    <div>
                        <input type="text" class="form-control">
                        <button class="btn-newsletter"></button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section id="bottombar">
        <div>2019 VietNamstreetfoods.com. All Rights Reserved</div>
    </section>
</body>

</html>