<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script type="text/javascript" src="../dist/js/scripts.js"></script>
    <!-- Main Stylesheet File -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/slick.css" rel="stylesheet">
    <link href="../css/slick-theme.css" rel="stylesheet">
    <link href="../css/fontawesome.min.css" rel="stylesheet">
    <link href="../css/solid.min.css" rel="stylesheet">
    <link href="../dist/css/styles.css" rel="stylesheet">

</head>

<body>
    <!-- Top Bar -->
    <section id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-4 social-links">
                    <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                </div>
                <div class="col-xl-9 col-lg-9 col-8 contact-info align-middle">
                    <img src="../images/phone-icon.png" title=""><span>Phone: +(84)987271754 -</span>
                    <img src="../images/document-icon.png" title=""><span>Email: info@saigononmotorbike.com -</span>
                    <img src="../images/address-icon.png" title=""><span>Address : 51/11 Cao Thang Street, Ward 3,
                        District3, Ho Chi Minh City</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->
    <header>
        <div id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#"><img src="../images/logo.png" title=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">HOME</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">ABOUT US</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TOURS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">OUR PARTNER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">BLOGS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">GALLERY</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TESIMONIALS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">FAQS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">CONTACT US</a>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                                    <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <div class="banner-top banner-testimonials">
            <div class="container">
                <div class="text-banner">
                    <div class="bottom-text">
                        <span>Gallary</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-photo-gallary">
            <div class="container">
                <div class="title">
                    photo gallery
                </div>
                <div class="thum-image">
                    <div class="row-thum">
                        <div class="col-thum">
                            <img src='../images/gallary/thum1.png'>
                            <div class="name">
                                GOOD MORNING SAIGON
                            </div>
                        </div>
                        <div class="col-thum">
                            <img src='../images/gallary/thum2.png'>
                            <div class="name">
                                GOOD MORNING SAIGON
                            </div>
                        </div>
                        <div class="col-thum">
                            <img src='../images/gallary/thum3.png'>
                            <div class="name">
                                GOOD MORNING SAIGON
                            </div>
                        </div>
                    </div>
                    <div class="row-thum">
                        <div class="col-thum">
                            <img src='../images/gallary/thum1.png'>
                            <div class="name">
                                GOOD MORNING SAIGON
                            </div>
                        </div>
                        <div class="col-thum">
                            <img src='../images/gallary/thum2.png'>
                            <div class="name">
                                GOOD MORNING SAIGON
                            </div>
                        </div>
                        <div class="col-thum">
                            <img src='../images/gallary/thum3.png'>
                            <div class="name">
                                GOOD MORNING SAIGON
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-video-gallary">
            <div class="container">
                <div class="title">Video clips</div>
                <div class="txt">Groups are small (1 to 8 people), we travel quietly, and the fo Groups are small <br/>(1 to 8 people), we travel quietly, and the fo</div>
                <div class="videos">
                    <div class="item">
                        <video poster="../images/gallary/image-video.png" controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <div class="name">
                            CU CHI TUNNEL BY MOTORBIKE
                        </div>
                    </div>
                    <div class="item">
                        <video poster="../images/gallary/image-video.png" controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <div class="name">
                            CU CHI TUNNEL BY MOTORBIKE
                        </div>
                    </div>
                    <div class="item">
                        <video poster="../images/gallary/image-video.png" controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <div class="name">
                            CU CHI TUNNEL BY MOTORBIKE
                        </div>
                    </div>
                    <div class="item">
                        <video poster="../images/gallary/image-video.png" controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <div class="name">
                            CU CHI TUNNEL BY MOTORBIKE
                        </div>
                    </div>
                    <div class="item">
                        <video poster="../images/gallary/image-video.png" controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <div class="name">
                            CU CHI TUNNEL BY MOTORBIKE
                        </div>
                    </div>
                    <div class="item">
                        <video poster="../images/gallary/image-video.png" controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <div class="name">
                            CU CHI TUNNEL BY MOTORBIKE
                        </div>
                    </div>
                    <div class="item">
                        <video poster="../images/gallary/image-video.png" controls>
                            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                        </video>
                        <div class="name">
                            CU CHI TUNNEL BY MOTORBIKE
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-lg-4 ">
                    <h2>CONTACT US</h2>
                    <p>Office address :</p>
                    <p>No.49, 17 street, An Phu ward, District 2 Ho Chi Minh City, Vietnam</p>
                    <br>
                    <p>Business address:</p>
                    <p>2nd Floor 6/28 Cach Mang Thang Tam street, District 1, Ho Chi Minh City, Vietnam</p>
                </div>
                <div class="address-us col-xs-12 col-lg-3">
                    <p>Hotline: (+84) 816588886 (WhatsApp)</p>
                    <br>
                    <p>Email: info@vietnamstreetfoods.com</p>
                </div>
                <div class="share-us col-xs-12  col-lg-2 ">
                    <h2>Share With US</h2>
                    <div class="social-links">
                        <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                    </div>
                </div>
                <div class="newsletter col-xs-12 col-lg-3">
                    <h2>NEWSLETTER</h2>
                    <div>
                        <input type="text" class="form-control">
                        <button class="btn-newsletter"></button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section id="bottombar">
        <div>2019 VietNamstreetfoods.com. All Rights Reserved</div>
    </section>
</body>

</html>