<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script type="text/javascript" src="../dist/js/scripts.js"></script>
    <!-- Main Stylesheet File -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/slick.css" rel="stylesheet">
    <link href="../css/slick-theme.css" rel="stylesheet">
    <link href="../css/fontawesome.min.css" rel="stylesheet">
    <link href="../css/solid.min.css" rel="stylesheet">
    <link href="../dist/css/styles.css" rel="stylesheet">

</head>

<body>
    <!-- Top Bar -->
    <section id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-4 social-links">
                    <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                </div>
                <div class="col-xl-9 col-lg-9 col-8 contact-info align-middle">
                    <img src="../images/phone-icon.png" title=""><span>Phone: +(84)987271754 -</span>
                    <img src="../images/document-icon.png" title=""><span>Email: info@saigononmotorbike.com -</span>
                    <img src="../images/address-icon.png" title=""><span>Address : 51/11 Cao Thang Street, Ward 3,
                        District3, Ho Chi Minh City</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->
    <header>
        <div id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#"><img src="../images/logo.png" title=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">HOME</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">ABOUT US</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TOURS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">OUR PARTNER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">BLOGS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">GALLERY</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TESIMONIALS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">FAQS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">CONTACT US</a>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                                    <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-header">
            <div class="slider-image" style="background-image: url('../images/banner.png'); ">
                <div class="slider-description">
                    <p>Saigon Morning and Afternoon</p>
                    <p><b>City Historical Tour</b></p>
                    <p><b>By Motorbike</b></p>
                </div>
            </div>
            <div class="slider-image" style="background-image: url('../images/banner.png'); ">
                <div class="slider-description">
                    <p>Saigon Morning and Afternoon</p>
                    <p><b>City Historical Tour</b></p>
                    <p><b>By Motorbike</b></p>
                </div>
            </div>
            <div class="slider-image" style="background-image: url('../images/banner.png'); ">
                <div class="slider-description">
                    <p>Saigon Morning and Afternoon</p>
                    <p><b>City Historical Tour</b></p>
                    <p><b>By Motorbike</b></p>
                </div>
            </div>
            <div class="slider-image" style="background-image: url('../images/banner.png'); ">
                <div class="slider-description">
                    <p>Saigon Morning and Afternoon</p>
                    <p><b>City Historical Tour</b></p>
                    <p><b>By Motorbike</b></p>
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main>
        <!-- TOUR -->
        <section id="tour">
            <div class="container">
                <div class="block-title">
                    <h5 class="cus-border">TOURS</h5>
                    <p class='cus-title'>SaiGon On <b>MOTORBIKE TOURS</b></p>
                </div>
                <div class="row regular slider">
                    <div class="col-3">
                        <div class="content">
                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                            <a href="#" class="image">
                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                <img src="../images/tour1.png" alt="" width="100%" />
                                <span class="block-review">
                                    <span class="review">
                                        <span style="width: 40%"></span>
                                    </span>
                                    <span class="lbl-review">25 review</span>
                                </span>
                            </a>
                            <div class="info mt-4">
                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street Food Tour By
                                        Motorbike Morning and Afternoon Saigon Unseen Street </a></h6>
                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                <div class="info-price">
                                    <span><strong>$190</strong> per/ Person</span>
                                    <button type="button" class="btn btn-danger">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                            <a href="#" class="image">
                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                <img src="../images/tour1.png" alt="" width="100%" />
                                <span class="block-review">
                                    <span class="review">
                                        <span style="width: 90%"></span>
                                    </span>
                                    <span class="lbl-review">25 review</span>
                                </span>
                            </a>
                            <div class="info mt-4">
                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street Food Tour By
                                        Motorbike Morning and Afternoon Saigon Unseen Street </a></h6>
                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                <div class="info-price">
                                    <span><strong>$190</strong> per/ Person</span>
                                    <button type="button" class="btn btn-danger">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                            <a href="#" class="image">
                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                <img src="../images/tour1.png" alt="" width="100%" />
                                <span class="block-review">
                                    <span class="review">
                                        <span style="width: 70%"></span>
                                    </span>
                                    <span class="lbl-review">25 review</span>
                                </span>
                            </a>
                            <div class="info mt-4">
                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street Food Tour By
                                        Motorbike Morning and Afternoon Saigon Unseen Street </a></h6>
                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                <div class="info-price">
                                    <span><strong>$190</strong> per/ Person</span>
                                    <button type="button" class="btn btn-danger">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                            <a href="#" class="image">
                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                <img src="../images/tour1.png" alt="" width="100%" />
                                <span class="block-review">
                                    <span class="review">
                                        <span style="width: 90%"></span>
                                    </span>
                                    <span class="lbl-review">25 review</span>
                                </span>
                            </a>
                            <div class="info mt-4">
                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street Food Tour By
                                        Motorbike Morning and Afternoon Saigon Unseen Street </a></h6>
                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                <div class="info-price">
                                    <span><strong>$190</strong> per/ Person</span>
                                    <button type="button" class="btn btn-danger">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="content">
                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                            <a href="#" class="image">
                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                <img src="../images/tour1.png" alt="" width="100%" />
                                <span class="block-review">
                                    <span class="review">
                                        <span style="width: 90%"></span>
                                    </span>
                                    <span class="lbl-review">25 review</span>
                                </span>
                            </a>
                            <div class="info mt-4">
                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street Food Tour By
                                        Motorbike Morning and Afternoon Saigon Unseen Street </a></h6>
                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                <div class="info-price">
                                    <span><strong>$190</strong> per/ Person</span>
                                    <button type="button" class="btn btn-danger">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- ABOUT -->
        <section id="about">
            <div class="container">
                <div class="row block-about">
                    <div class="col-md-3 col-xs-12 block-des">
                        <div class="title-line">
                            Why Choose
                            <br>
                            <b>TRAVEL WITH US ?</b>
                        </div>
                        <div class="description">
                            Saigon on motorbike is a travelling service on bike around HCM city provided by Vietnam
                            street foods Co., LTD from 2014. Despite our short – time of running, Saigon on motorbike
                            has achieved lots of goals and received a lot of compliments and encouragement from
                            customers as a result of.
                        </div>
                        <button type="button" class="btn btn-danger">ABOUT US</button>
                    </div>
                    <div class="col-md-9 col-xs-12 row block-item">
                        <div class="col-md-4 col-xs-12">
                            <div class="item">
                                <div class="item-img">
                                    <img src="../images/icon-our-val.png" alt="" />
                                </div>
                                <h3>OUR VALUES</h3>
                                <div>Building community Intercutural onnection Meaningful mouthfuls Educational outreach
                                    Accesible dventure</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="item">
                                <div class="item-img">
                                    <img src="../images/icon-why.png" alt="" />
                                </div>
                                <h3>WHY EXPLORE WITH US ?</h3>
                                <div>Best saving and best service Diverse ever-changing tours English speaking driver
                                    team Authentic Saigon Food
                                    Sustainable tourism</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="item">
                                <div class="item-img">
                                    <img src="../images/icon-what.png" alt="" />
                                </div>
                                <h3>WHAT WE HAVE</h3>
                                <div>English speaking driver team Good and safe motorbikes Professional tour guides
                                    Enthusiasm staffs Licensed drivers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- POPULAR -->
        <section id="popular-tour">
            <div class="container">
                <div class="row block-popular">
                    <div class="col-12">
                        <div class="title-line">
                            Popular
                            <br>
                            <b>MOTORBIKE TOURS</b>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6 popular-item">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <div class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                                role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <div class="media">
                                    <img src="../images/ship.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <div class="number-review">
                                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                            <span class="block-review">
                                                <span class="review">
                                                    <span style="width: 90%"></span>
                                                </span>
                                                <span class="lbl-review">256 reviews</span>
                                            </span>
                                        </div>
                                        <div class="popular-des">Morning and Afternoon Saigon Unseen Street Food Tour By
                                            Motorbike</div>
                                        <div class="popular-price">
                                            <p>$199</p>
                                            <p>Per / Person</p>
                                        </div>
                                        <div class="popular-info"><i class="fas fa-clock"></i> Duration: 4 Hours - <i
                                                class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                                role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                <div class="media">
                                    <img src="../images/ship.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <div class="number-review">
                                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                            <span class="block-review">
                                                <span class="review">
                                                    <span style="width: 90%"></span>
                                                </span>
                                                <span class="lbl-review">256 reviews</span>
                                            </span>
                                        </div>
                                        <div class="popular-des">Morning and Afternoon Saigon Unseen Street Food Tour By
                                            Motorbike</div>
                                        <div class="popular-price">
                                            <p>$199</p>
                                            <p>Per / Person</p>
                                        </div>
                                        <div class="popular-info"><i class="fas fa-clock"></i> Duration: 4 Hours - <i
                                                class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                                role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                <div class="media">
                                    <img src="../images/ship.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <div class="number-review">
                                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                            <span class="block-review">
                                                <span class="review">
                                                    <span style="width: 60%"></span>
                                                </span>
                                                <span class="lbl-review">256 reviews</span>
                                            </span>
                                        </div>
                                        <div class="popular-des">Morning and Afternoon Saigon Unseen Street Food Tour By
                                            Motorbike</div>
                                        <div class="popular-price">
                                            <p>$199</p>
                                            <p>Per / Person</p>
                                        </div>
                                        <div class="popular-info"><i class="fas fa-clock"></i> Duration: 4 Hours - <i
                                                class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                                role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                <div class="media">
                                    <img src="../images/ship.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <div class="number-review">
                                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744 Booked</span>
                                            <span class="block-review">
                                                <span class="review">
                                                    <span style="width: 90%"></span>
                                                </span>
                                                <span class="lbl-review">256 reviews</span>
                                            </span>
                                        </div>
                                        <div class="popular-des">Morning and Afternoon Saigon Unseen Street Food Tour By
                                            Motorbike</div>
                                        <div class="popular-price">
                                            <p>$199</p>
                                            <p>Per / Person</p>
                                        </div>
                                        <div class="popular-info"><i class="fas fa-clock"></i> Duration: 4 Hours - <i
                                                class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 col-lg-6">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                aria-labelledby="v-pills-home-tab">
                                <div class="img-content">
                                    <img src="../images/thap.png" width="100%">
                                    <button type="button" class="btn btn-danger" tabindex="0">Book Now</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <div class="img-content">
                                    <img src="../images/thap.png" width="100%">
                                    <button type="button" class="btn btn-danger" tabindex="0">Book Now</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                aria-labelledby="v-pills-messages-tab">
                                <div class="img-content">
                                    <img src="../images/thap.png" width="100%">
                                    <button type="button" class="btn btn-danger" tabindex="0">Book Now</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                aria-labelledby="v-pills-settings-tab">
                                <div class="img-content">
                                    <img src="../images/thap.png" width="100%">
                                    <button type="button" class="btn btn-danger" tabindex="0">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offset-xl-1 col-xl-11 col-12 view-all"><a href="#">View all Tour</a></div>
                </div>
            </div>
        </section>
        <!-- GALLERY -->
        <section id="gallery">
            <div class="container">
                <div class="block-title">
                    <h5 class="cus-border">Photo Gallery</h5>
                    <p class='cus-title'>Beautifull & <b>unforgettable Time</b></p>
                </div>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">
                        <i class="fas fa-image"></i>
                        PHOTO GALLERY
                    </a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">
                        <i class="fas fa-camera-retro"></i>
                        VIDEO GALLERY
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="container-fluid">
                        <div class="d-flex flex-row flex-wrap justify-content-center thum-col">
                            <div class="d-flex flex-column column-parent">
                                <img src="../images/gallery1.png">
                            </div>
                            <div class="d-flex flex-column column-parent">
                                <div class="image-top">
                                    <img src="../images/gallery2.png">

                                </div>
                                <div class="image-bottom">
                                    <img src="../images/gallery3.png" >
                                    <img src="../images/gallery4.png">
                                </div>

                            </div>
                            <div class="d-flex flex-column column-parent">

                                <div class="image-top">
                                    <img src="../images/gallery5.png">
                                    <img src="../images/gallery6.png" >
                                </div>
                                <div class="image-bottom">
                                    <img src="../images/gallery7.png" >
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="container-fluid">
                      
                    </div>
                </div>
            </div>
        </section>
        <!-- QUESTION -->
        <section id="question">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-5 and-question">
                        <h5>FAQS</h5>
                        <p class='cus-title'>Answer <b>AND QUESTION</b></p>
                        <div>
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <div class="p-question" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            01. <b>Are there restroom breaks during a tour? </b>
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="css-answer">Answer</p>
                                            <div>
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <div class="p-question collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            02. <b>Are there restroom breaks during a tour? </b>
                                        </div>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="css-answer">Answer</p>
                                            <div>
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                haven't heard of them accusamus labore sustainable VHS.\
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <div class="p-question collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            03. <b>Are there restroom breaks during a tour? </b>
                                        </div>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="css-answer">Answer</p>
                                            <div>
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                haven't heard of them accusamus labore sustainable VHS.\
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <div class="p-question collapsed" data-toggle="collapse"
                                            data-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            04. <b>Are there restroom breaks during a tour? </b>
                                        </div>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordion">
                                        <div class="card-body">
                                            <p class="css-answer">Answer</p>
                                            <div>
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
                                                skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                haven't heard of them accusamus labore sustainable VHS.\
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-7 content-blog">
                        <h5>OUR BLOG</h5>
                        <p class='cus-title'>This is a <b>CONTENT BLOGS</b></p>
                        <div>
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="mr-5" src="../images/blog1.png" width="225px" height="135px"
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">List-based media object</h6>
                                        <p class="s-date">May 04,2019</p>
                                        <div class="s-content">
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                            ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                        </div>
                                    </div>
                                </li>
                                <li class="media my-4">
                                    <img class="mr-5" src="../images/blog2.png" width="225px" height="135px"
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">List-based media object</h6>
                                        <p class="s-date">May 04,2019</p>
                                        <div class="s-content">
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                            ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <img class="mr-5" src="../images/blog2.png" width="225px" height="135px"
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">List-based media object</h6>
                                        <p class="s-date">May 04,2019</p>
                                        <div class="s-content">
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                            ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-lg-4 ">
                    <h2>CONTACT US</h2>
                    <p>Office address :</p>
                    <p>No.49, 17 street, An Phu ward, District 2 Ho Chi Minh City, Vietnam</p>
                    <br>
                    <p>Business address:</p>
                    <p>2nd Floor 6/28 Cach Mang Thang Tam street, District 1, Ho Chi Minh City, Vietnam</p>
                </div>
                <div class="address-us col-xs-12 col-lg-3">
                    <p>Hotline: (+84) 816588886 (WhatsApp)</p>
                    <br>
                    <p>Email: info@vietnamstreetfoods.com</p>
                </div>
                <div class="share-us col-xs-12  col-lg-2 ">
                    <h2>Share With US</h2>
                    <div class="social-links">
                        <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                    </div>
                </div>
                <div class="newsletter col-xs-12 col-lg-3">
                    <h2>NEWSLETTER</h2>
                    <div>
                        <input type="text" class="form-control">
                        <button class="btn-newsletter"></button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section id="bottombar">
        <div>2019 VietNamstreetfoods.com. All Rights Reserved</div>
    </section>
</body>

</html>