<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="../js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script type="text/javascript" src="../dist/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Main Stylesheet File -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/slick.css" rel="stylesheet">
    <link href="../css/slick-theme.css" rel="stylesheet">
    <link href="../css/fontawesome.min.css" rel="stylesheet">
    <link href="../css/solid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../dist/css/styles.css" rel="stylesheet">



</head>

<body>
   <!-- Top Bar -->
   <section id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-4 social-links">
                    <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                    <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                </div>
                <div class="col-xl-9 col-lg-9 col-8 contact-info align-middle">
                    <img src="../images/phone-icon.png" title=""><span>Phone: +(84)987271754 -</span>
                    <img src="../images/document-icon.png" title=""><span>Email: info@saigononmotorbike.com -</span>
                    <img src="../images/address-icon.png" title=""><span>Address : 51/11 Cao Thang Street, Ward 3,
                        District3, Ho Chi Minh City</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Header -->
    <header>
        <div id="menu">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#"><img src="../images/logo.png" title=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">HOME</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">ABOUT US</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TOURS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">OUR PARTNER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">BLOGS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">GALLERY</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">TESIMONIALS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">FAQS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">CONTACT US</a>
                                    </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0">
                                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                                    <button class="btn btn-search" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <!-- Main -->
    <main>
        <div class="banner-blog banner-tour">
            <div class="top-banner-blog">HOME - <span>TOURS</span></div>
            
        </div>
        <div class="wrapper-content-tour">
            <div class="line"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-xs-12">
                        <div class="wrapper-tab-tour">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#info" aria-controls="info"
                                        role="tab" data-toggle="tab">Info</a></li>
                                <li role="presentation"><a href="#tourInformation" aria-controls="tourInformation"
                                        role="tab" data-toggle="tab">tour information</a></li>
                                <li role="presentation"><a href="#gallary" aria-controls="gallary" role="tab"
                                        data-toggle="tab">gallary</a></li>
                                <li role="presentation"><a href="#video" aria-controls="video" role="tab"
                                        data-toggle="tab">video</a></li>
                                <li role="presentation"><a href="#similarTours" aria-controls="similarTours"
                                        role="tab" data-toggle="tab">similar tours</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="info">
                                    <div class="title">
                                        Morning and Afternoon Saigon Unseen Street Food Tour By Motorbi
                                        Morning and Afternoon Saigon Unseen Street Food Tour By Motorbi
                                    </div>
                                    <div class="number-review">
                                        <span class="block-review">
                                            <span class="review">
                                                <span style="width: 90%"></span>
                                            </span>
                                            <span class="lbl-review">256 reviews</span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                        The Cu Chi Tunnels, which display the loyalty, wisdom and creat
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="tourInformation">
                                    <div class="title">TOUR INFORMATION</div>
                                    <div class="row-item">
                                        <div class="col">
                                            Duration
                                        </div>
                                        <div class="col">
                                            4 hour
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Price per Participant
                                        </div>
                                        <div class="col">
                                            Price for child
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Languages
                                        </div>
                                        <div class="col">
                                            Group size
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Categories
                                        </div>
                                        <div class="col">
                                            <ul class="list-item list-cate">
                                                <li>
                                                    Street Food Tour
                                                </li>
                                                <li>
                                                    Street Food Tour
                                                </li>
                                                <li>
                                                    Street Food Tour
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Transportation
                                        </div>
                                        <div class="col">
                                            4 hour
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Time
                                        </div>
                                        <div class="col">
                                            4 hour
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Weather Condition
                                        </div>
                                        <div class="col">
                                            4 hour
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Where
                                        </div>
                                        <div class="col">
                                            <ul class="list-item list-where">
                                                <li>
                                                    Street Food Tour
                                                </li>
                                                <li>
                                                    Street Food Tour
                                                </li>
                                                <li>
                                                    Street Food Tour
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Remarks
                                        </div>
                                        <div class="col">
                                            4 hour
                                        </div>
                                    </div>
                                    <div class="row-item">
                                        <div class="col">
                                            Includes
                                        </div>
                                        <div class="col">
                                            <ul class="list-item list-include">
                                                <li>
                                                    Street Food Tour
                                                </li>
                                                <li>
                                                    Street Food Tour
                                                </li>
                                                <li>
                                                    Street Food Tour
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="gallary">
                                        <div class="title">GALAXY</div>
                                    <div id="demo" class="carousel slide" data-ride="carousel">

                                        <!-- Indicators -->
                                        <ul class="carousel-indicators">
                                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                                          <li data-target="#demo" data-slide-to="1"></li>
                                          <li data-target="#demo" data-slide-to="2"></li>
                                        </ul>
                                        
                                        <!-- The slideshow -->
                                        <div class="carousel-inner">
                                          <div class="carousel-item active">
                                            <img src="../images/tour/image-slider.png" alt="Los Angeles" width="1100" height="500">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="../images/tour/image-slider.png" alt="Chicago" width="1100" height="500">
                                          </div>
                                          <div class="carousel-item">
                                            <img src="../images/tour/image-slider.png" alt="New York" width="1100" height="500">
                                          </div>
                                        </div>
                                        
                                        <!-- Left and right controls -->
                                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                          <span class="carousel-control-prev-icon"></span>
                                        </a>
                                        <a class="carousel-control-next" href="#demo" data-slide="next">
                                          <span class="carousel-control-next-icon"></span>
                                        </a>
                                      </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="video">
                                        <div class="title">VIDEO</div>
                                    <video poster="../images/gallary/image-video.png" controls>
                                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                    </video>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="similarTours">
                                        <div class="title">SIMILAR TOURS</div>
                                    <div class="wrapper-similar-tours">
                                        <div class="content-col-tour">
                                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744
                                                Booked</span>
                                            <a href="#" class="image">
                                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744
                                                    Booked</span>
                                                <img src="../images/tour1.png" alt="" width="100%" />
                                                <span class="block-review">
                                                    <span class="review">
                                                        <span style="width: 40%"></span>
                                                    </span>
                                                    <span class="lbl-review">25 review</span>
                                                </span>
                                            </a>
                                            <div class="info mt-4">
                                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street
                                                        Food Tour By
                                                        Motorbike Morning and Afternoon Saigon Unseen Street </a>
                                                </h6>
                                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                                <div class="info-price">
                                                    <span><strong>$190</strong> per/ Person</span>
                                                    <button type="button" class="btn btn-danger">Book Now</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-col-tour">
                                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744
                                                Booked</span>
                                            <a href="#" class="image">
                                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744
                                                    Booked</span>
                                                <img src="../images/tour1.png" alt="" width="100%" />
                                                <span class="block-review">
                                                    <span class="review">
                                                        <span style="width: 40%"></span>
                                                    </span>
                                                    <span class="lbl-review">25 review</span>
                                                </span>
                                            </a>
                                            <div class="info mt-4">
                                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street
                                                        Food Tour By
                                                        Motorbike Morning and Afternoon Saigon Unseen Street </a>
                                                </h6>
                                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                                <div class="info-price">
                                                    <span><strong>$190</strong> per/ Person</span>
                                                    <button type="button" class="btn btn-danger">Book Now</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-col-tour">
                                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744
                                                Booked</span>
                                            <a href="#" class="image">
                                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744
                                                    Booked</span>
                                                <img src="../images/tour1.png" alt="" width="100%" />
                                                <span class="block-review">
                                                    <span class="review">
                                                        <span style="width: 40%"></span>
                                                    </span>
                                                    <span class="lbl-review">25 review</span>
                                                </span>
                                            </a>
                                            <div class="info mt-4">
                                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street
                                                        Food Tour By
                                                        Motorbike Morning and Afternoon Saigon Unseen Street </a>
                                                </h6>
                                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                                <div class="info-price">
                                                    <span><strong>$190</strong> per/ Person</span>
                                                    <button type="button" class="btn btn-danger">Book Now</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-col-tour">
                                            <span class="num-booked"><i class="fas fa-anchor"></i> 277744
                                                Booked</span>
                                            <a href="#" class="image">
                                                <span class="num-booked"><i class="fas fa-anchor"></i> 277744
                                                    Booked</span>
                                                <img src="../images/tour1.png" alt="" width="100%" />
                                                <span class="block-review">
                                                    <span class="review">
                                                        <span style="width: 40%"></span>
                                                    </span>
                                                    <span class="lbl-review">25 review</span>
                                                </span>
                                            </a>
                                            <div class="info mt-4">
                                                <h6><a href="#" title="">Morning and Afternoon Saigon Unseen Street
                                                        Food Tour By
                                                        Motorbike Morning and Afternoon Saigon Unseen Street </a>
                                                </h6>
                                                <div class="info-time"><i class="fas fa-clock"></i> 4 Hours - <i
                                                        class="fa fa-motorcycle"></i> Motorbike Walking</div>
                                                <div class="info-price">
                                                    <span><strong>$190</strong> per/ Person</span>
                                                    <button type="button" class="btn btn-danger">Book Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-xs-12">
                        <div class="wrapper-date">
                            <div class="row-item">
                                <div class="col-item">
                                    <img class="icon-price" src='../images/tour/icon-price.png' />
                                </div>
                                <div class="col-item">
                                    Price
                                    <span class="number">$50</span>
                                </div>
                                <div class="col-item">
                                    Price for child
                                    <span class="number">$38</span>
                                </div>
                            </div>
                            <div class="row-item">
                                <div class="col-item">
                                    <img class="icon-calendar" src='../images/tour/icon-calendar.png' />
                                </div>
                                <div class="col-item">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">

                                <div class="col-item">
                                    <img class="icon-persons" src='../images/tour/icon-person.png' />
                                </div>
                                <div class="col-item">
                                    <select class="form-control form-control-lg">
                                        <option>Large select</option>
                                      </select>
                                </div>
                            </div>
                            <div class="row-item">
                                <div class="col-item">
                                    <img class="icon-person" src='../images/tour/icon-one-person.png' />
                                </div>
                                <div class="col-item">
                                    <select class="form-control form-control-lg">
                                        <option>Large select</option>
                                    </select>
                                </div>

                            </div>
                            <div class="row-item">
                                <div class="col-item">
                                    <img class="icon-arrow" src='../images/tour/icon-arrow.png' />
                                </div>
                                <div class="col-item">
                                    <span class="total">Total</span>
                                </div>
                                <div class="col-item">
                                    <span class="price-sum">120$</span>
                                </div>
                            </div>
                            <div class="btn-book">
                                <button type="button" class="btn btn-danger">Book Now</button>
                            </div>
                        </div>
                        <div class="why">
                            <div class="title">why choose us</div>
                            <ul>
                                <li>Life-Insurance included</li>
                                <li>Life-Insurance included</li>
                                <li>Life-Insurance included</li>
                                <li>Life-Insurance included</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-lg-4 ">
                    <h2>CONTACT US</h2>
                    <p>Office address :</p>
                    <p>No.49, 17 street, An Phu ward, District 2 Ho Chi Minh City, Vietnam</p>
                    <br>
                    <p>Business address:</p>
                    <p>2nd Floor 6/28 Cach Mang Thang Tam street, District 1, Ho Chi Minh City, Vietnam</p>
                </div>
                <div class="address-us col-xs-12 col-lg-3">
                    <p>Hotline: (+84) 816588886 (WhatsApp)</p>
                    <br>
                    <p>Email: info@vietnamstreetfoods.com</p>
                </div>
                <div class="share-us col-xs-12  col-lg-2 ">
                    <h2>Share With US</h2>
                    <div class="social-links">
                        <a href="#body"><img src="../images/glass-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/fb-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/youtube-icon.png" title="" /></a>
                        <a href="#body"><img src="../images/instagram-icon.png" title="" /></a>
                    </div>
                </div>
                <div class="newsletter col-xs-12 col-lg-3">
                    <h2>NEWSLETTER</h2>
                    <div>
                        <input type="text" class="form-control">
                        <button class="btn-newsletter"></button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section id="bottombar">
        <div>2019 VietNamstreetfoods.com. All Rights Reserved</div>
    </section>
</body>

</html>

<script>
    $(function() {
    $('#datetimepicker1').datetimepicker();
  });
  </script>