html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}

body {
  background: #fff;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
}

a:hover,
a:active,
a:focus {
  color: #51d8af;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


/* Top Bar */
#topbar {
  background: rgba(#000, 0.8);

  .container {

    .row {
      min-height: 35px;
      flex-direction: row;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .contact-info {
      color: white;
      font-size: 12px;

      img {
        margin-right: 5px;
      }

      span {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.social-links {
  a {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Header */
header {
  #menu {
    min-height: 100px;
    background: rgba(#fff, 0.8);
    flex-direction: row;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 10;

    .btn-search {
      font-size: 20px;
    }
    ul.navbar-nav {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .navbar {
    padding: 0;

    img {
      width: 160px;
    }

    a {
      font-weight: 600;
      font-size: 14px;
    }
    ul {
      li {
        margin: 0 8px;

        &:first-child {
          margin-left: 0;
        }
      }

      .active>.nav-link {
        font-weight: 800;
      }
    }
  }
}

.text-banner {
  .top-text {
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #000;
  }
  .bottom-text {
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    text-shadow: 2px 2px 2px #000;
    span {
      display: block;
      width: 100%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .text-banner {
    .top-text {
      font-size: 22px;
    }
    .bottom-text {
      font-size: 24px !important;
      line-height: 26px !important;
    }
  }
  .banner-top {
    margin-top: -60px !important;
    height: 320px !important;
    .text-banner {
      margin-bottom: 30px !important;
    }
  }
}

.slider-header {
  margin-top: -100px;
  .slider-description {
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 12;
    text-align: center;
    color: white;
    font-weight: 300;
    width: 100%;
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slider-image {
    height: 800px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .slick-dots {
    bottom: 70px;

    li {
      height: auto;
      margin: 0 6px;

      button {
        width: 25px;
        height: 3px;
        padding: 0;
        background-color: white;

        &:before {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: #ffcc00;
        }
      }
    }
  }
}

/* Main */
main {
  h5 {
    font-size: 20px;
    font-weight: bold;
    color: #a2a2a2;
    letter-spacing: 5px;
  }

  h6 {
    font-weight: bold;
    font-size: 16px;
  }

  .block-title {
    text-align: center;
    padding: 45px 0;
    position: relative;

    .cus-border {
      text-transform: uppercase;
      margin-bottom: 0px;

      &:before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 50px;
        position: absolute;
        top: -25px;
        right: 50%;
        z-index: 10;
        background-color: #a2a2a2;
      }
    }
  }

  .cus-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;

    b {
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .btn {
    font-size: 15px;
    font-weight: 700;
    background: #e54646;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 5px 20px;
  }

  .and-question {
    padding-right: 40px;
  }

  .content-blog {
    padding-left: 20px;
    align-items: center;

    .media {
      margin-bottom: 20px;
      align-items: center;
      img {
        width: 200px;
        height: 120px;
        object-fit: cover;
        object-position: center center;
      }
      .media-body {
        h6.mb-1 {
          font-size: 14px;
        }
      }
    }

    .media:last-child {
      margin-bottom: 0;
    }

    .s-date {
      font-style: italic;
      font-size: 12px;
      color: #a2a2a2;
    }

    .s-content {
      margin-top: 10px;
      font-size: 14px;
    }
  }

  .title-line {
    font-size: 22px;
    padding: 20px 0 20px 0;
    position: relative;

    &:before {
    content: '';
    display: inline-block;
    width: 50px;
    position: absolute;
    left: -40px;
    top: 0;
    z-index: 10;
    height: 3px;
    background-color: #292305;
    }
  }

  .block-review {
    .lbl-review {
      display: inline-block;
      vertical-align: middle;
      color: white;
      margin-left: 5px;
    }
  }

  .review {
    display: inline-block;
    width: 97px;
    vertical-align: middle;

    &:before {
      position: absolute;
      left: 20px;
      display: block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: '\f005''\f005''\f005''\f005''\f005';
      width: 100%;
      height: 25px;
      font-size: 15px;
      letter-spacing: 3px;
      color: rgba(#000, 0.35);
      z-index: 1;
    }

    span {
      display: block;
      overflow: hidden;

      &:before {
        position: relative;
        z-index: 2;
        left: 0;
        display: block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f005''\f005''\f005''\f005''\f005';
        width: 100%;
        height: 25px;
        font-size: 15px;
        letter-spacing: 3px;
        color: #ffa200;
      }
    }
  }
}

#question {
  background: url('../images/bg-question.png') repeat-y;
    padding: 150px 0 60px 0;
    font-size: 16px;
    background-position: bottom center;
    background-repeat: no-repeat;

  h5 {
    margin-bottom: 10px;
  }

  .card {
    border: 0;

    .collapsed {
      background: #efefef !important;
      color: #a2a2a2;

      b {
        color: black;
      }
    }

    .card-body {
      border-left: 5px solid #d01717;
      background: #e4e4e4;

      >p.css-answer {
        color: #d01717;
        font-weight: 600;
      }

      >div {
        padding: 10px 10px 20px 30px;
        text-align: justify;
        font-size: 14px;
      }
    }

    .card-header {
      padding: 0;
      cursor: pointer;
      border: 0;
      background: #d01717;
      color: white;

      .p-question {
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        font-weight: 700;
        font-size: 14px;
      }


      :after {
        content: '';
        width: 30px;
        height: 30px;
        background: url('../images/icon-question.png') no-repeat;
        top: 10px;
        right: 15px;
        position: absolute;
        display: inline-block;
      }
    }
  }
}
.content-col-tour {
  position: relative;

  a.image {
    position: relative;
    display: block;
  }

  .num-booked {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #a2a2a2;
    font-size: 10px;
    padding: 5px;
    font-weight: 700;
    color: black;
  }

  h6 a {
    color: black;
    font-size: 14px;
  }

  .info-time {
    border-top: 1px solid #e4e4e4;
    border-right: 0px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-left: 0px solid #e4e4e4;
    padding: 5px 0;

    i:last-child {
      margin-left: 5px;
    }
  }

  .info-price {
    padding: 10px 0;
    font-weight: 600;
    font-size: 12px;

    strong {
      font-size: 24px;
      font-weight: 800;
      color: black;
    }

    button {
      float: right;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
#tour {
  padding-bottom: 50px;

  .block-review {
    bottom: 0;
    background: rgba(#000, 0.75);
    width: 100%;
    padding: 6px 20px;
    position: absolute;
  }

  h6 {
    text-transform: uppercase;
  }

  .slick-slide {
    padding: 0 15px;
  }

  .slick-next {
    right: 0;

    &:before {
      content: '\f054';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: black;
    }
  }

  .slick-prev {
    left: 0;

    &:before {
      content: '\f053';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: black;
    }
  }

  .slick-prev,
  .slick-next {
    -webkit-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.75);
    background: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    z-index: 10;
    top: 35%;
  }

 
}

#popular-tour {
  background: url('../images/bg-popular.png') no-repeat;
  background-size: cover;

  .popular-item {
    height: 353px;
    overflow-y: auto;
    direction: rtl;
    padding: 0 45px 0 30px;
  }

  .block-review {
    float: right;

    .review {
      width: 69px;
      position: relative;

      span:before {
        color: #00ffd8;
        font-size: 10px;
        height: 15px;
      }

      &:before {
        font-size: 10px;
        height: 15px;
        left: 0;
      }
    }

    .lbl-review {
      color: #00ffd8;
    }
  }

  .title-line {
    color: #fff;

    &:before {
      background-color: #b7b7b7;
    }
  }

  .block-popular {
    padding: 45px 0;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    background: rgba(#000, 0.56);
  }

  .nav-pills .nav-link {
    border-radius: 0;
  }

  .nav-link {
    direction: ltr;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #fff;

    &:last-child {
      border-bottom: 0;
    }
  }

  .media-body {
    .number-review {
      color: #00ffd8;
      margin-bottom: 5px;
      position: relative;

      .num-booked {
        float: left;
      }
    }

    .popular-des {
      float: left;
      width: 65%;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .popular-price {
      float: left;
      width: 34%;
      text-align: right;

      >p:first-child {
        font-size: 24px;
        font-weight: 600;
        color: #00ffd8;
        
      }

      >p:last-child {
        font-weight: 600;
        font-size: 12px;
      }
    }

    .popular-info {
      float: left;
      width: 100%;
    }
  }

  .tab-pane {
    img {
      border: 7px solid #fff;
      box-sizing: border-box;
    }
  }

  .img-content {
    position: relative;

    button {
      position: absolute;
      bottom: 30px;
      padding: 10px 40px;
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      left: 50%;
      transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
    }
  }

  .view-all {
    a {
      display: inline-block;
      margin-left: 30px;
      margin-top: 15px;
      text-transform: uppercase;
      color: #a2a2a2;
      font-weight: 600;
    }

  }
}

#gallery {
  nav {
    margin-bottom: 50px;
  }

  .nav-tabs {
    justify-content: center;
    border: none;

    .nav-link {
      border: none;
      font-weight: 600;
      color: black;

      i {
        margin-right: 5px;
      }

      &.active,
      &:hover {
        color: #cb2424;
      }
    }
  }

  .block-title {
    padding-bottom: 10px;

    .cus-title {
      margin-bottom: 0;
    }
  }

  .container-fluid {
    padding: 0;
  }
  .thum-col {
    .flex-column {
      width: 38%;
      min-width: 38%;
  
      &.column-parent {
        height: 400px;
        &:first-child {
          width: 24%;
          min-width: 24%;
        }
        &:nth-child(2) {
          .image-top {
            display: flex;
            flex: 1 1 65%;
          }
          .image-bottom {
            flex: 1 1 35%;
            display: flex;
            img {
              flex: 1 1 100%;
              max-width: 50%;
            }

          }
        }
        &:nth-child(3) {
          .image-top {
            flex: 1 1 35%;
            display: flex;
            img {
              flex: 1 1 100%;
              max-width: 50%;
            }

          }
          .image-bottom {
            flex: 1 1 65%;
            display: flex;

          }
        }
      }
      
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  
    
  }
  

  .scale {
    transform: scaleY(1.05);
    padding-top: 5px;
  }
}

#about {
  background: url('../images/bg-may.png') no-repeat;
  background-size: cover;

  .block-about {
    padding: 90px 0 50px 0;

    >div:first-child {
      padding-right: 40px;
    }

    button {
      float: right;
    }
  }

  .block-item {
    .item {
      font-size: 14px;

      .item-img {
        position: relative;
        min-height: 240px;
        padding-bottom: 20px;

        img {
          position: absolute;
          bottom: 20px;
          max-width: 100%;
        }
      }

      h3 {
        font-weight: 800;
        color: #cb2424;
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }

  .block-des {
    position: relative;
    padding-bottom: 50px;

    &:after {
      content: '';
      width: 288px;
      height: 147px;
      background: url('../images/maybay.png') no-repeat;
      bottom: -20px;
      left: -65px;
      position: absolute;
      display: inline-block;
    }
  }

  .description {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 30px;
  }
}


/* Footer */
footer {
  min-height: 325px;
  background: url('../images/bg-footer.png') no-repeat;
  padding-top: 120px;
  background-position: center center;
  background-size: cover;
  font-size: 12px;

  .address-us {
    padding-top: 55px;
  }

  .share-us {

    h2 {
      padding-bottom: 25px;
    }
  }

  .newsletter {
    width: 100%;

    >div {
      position: relative;
    }

    h2 {
      padding-bottom: 18px;
    }

    input {
      height: 40px;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      padding-right: 35px;
    }

    .btn-newsletter {
      background: url('../images/newsletter-icon.png') no-repeat;
      cursor: pointer;
      border: none;
      position: absolute;
      top: 10px;
      right: 15px;
      height: 19px;
      width: 18px;
    }
  }

  h2 {
    font-weight: 800;
    font-size: 16px;
    color: #cb2424;
  }

  p {
    font-weight: 600;
  }
}

#bottombar div {
  text-align: center;
  line-height: 45px;
  height: 45px;
  background-color: #0e0303;
  color: #504c4c;
  font-weight: 600;
}

.banner-top {
  background-position: bottom center;
  background-size: cover;
  margin-top: -100px;
  &.banner-testimonials {
    height: 550px;
    background-image: url('../images/tesimonials/banner.png');
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .text-banner {
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
    text-transform: uppercase;
    .bottom-text {
      font-size: 80px;
      font-weight: 800;
      line-height: normal;
    }
  }

}
.content-tesimonials {
  margin: 60px 0 30px 0;
}
.col-comment {
  margin-bottom: 30px;
  .content-col {
    padding: 45px 0px 0px 0px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    .top {
      display: flex;
      padding: 0px 30px;
      .left {
        flex: 1 1 auto;
        margin-right: 20px;
        padding-top: 5px;
        min-width: 70px;
        img {
          width: 70px;
        }
      }
      .right {
        .txt {
          font-size: 14px;
          text-align: justify;
        }
        .view-on {
          margin: 20px 0 15px 0;
          a {
            color: #129612;
            font-style: italic;
            font-size: 12px;
            padding-left: 30px;
            background: url('../images/tesimonials/icon-glass.png') left center;
            background-repeat: no-repeat;
          }
        }
      }
    }
    .bottom {
      padding: 10px 30px;
      background-color: #eeeeee;
      display: flex;
      align-items: center;
      .left {
        .avatar {
          width: 65px;
          height: 65px;
          overflow: hidden;
          border-radius: 50%;
        }
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
          object-position: center center;
        }
      }
      .right {
        padding-left: 20px;
        .name {
          font-weight: 800;
          text-transform: uppercase;
          font-size: 20px;
          font-style: italic;
        }
        .txt {
          font-size: 14px;
          font-style: italic;
        }
      }
  
    }
  }
  
}

.wrapper-photo-gallary {
  margin-top: 30px;
  .title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .thum-image {
    .row-thum {
      height: 270px;

      display: flex;
      .col-thum {
        position: relative;
        box-sizing: border-box;
        border:1px solid rgba(0,0,0,0.2);
        .name {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 30px;
          color: #fff;
          padding-left: 15px;
          padding-right: 15px;
          &::before {
            content: '';
            position: absolute;
            left: 15px;
            top: -15px;
            height: 2px;
            width: 100px;
            background-color: #fff;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &:first-child {
        .col-thum {
          flex: 1 1 25%;
          &:first-child {
            flex: 1 1 50%;
          }

        }
      }
      &:last-child {
        .col-thum {
          flex: 1 1 50%;
          &:first-child {
            flex: 1 1 25%;
          }

        }

      }
    }
  }
}
.wrapper-video-gallary {
  background: url('../images/gallary/bg.png') no-repeat top center;
  background-size: cover;
  padding-bottom: 110px;
  margin-bottom: -110px;
  padding-top: 150px;
  margin-top: 45px;
  .title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
  }
  .txt {
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
  .videos {
    display: flex;
    overflow-y: scroll;
    margin-top: 60px;
    margin-bottom: 45px;
    padding-bottom: 60px;
    .item {
      width: 31.333333%;
      min-width: 31.333333%;
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
        &:last-child {
          margin-right: 0px;
        }
      video {
        width: 100%;
        object-fit: cover;
        
      }
      .name {
        background-color: #fff;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding: 5px 15px;
        font-weight: 600;

      }
    }
  }
}
.banner-blog {
  position: relative;
  height: 600px;
  &.blog {
    background: url('../images/blog/banner.png');
    background-size: cover;
    background-position: center center;

  }
  &.banner-tour {
    background: url('../images/tour/banner.png');
    background-size: cover;
    background-position: center center;
  }
  .top-banner-blog {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(250,250,250, 0.4);
    padding: 10px 0;
    font-size: 12px;
    span {
      font-weight: 800;
    }
  }
}
.wrapper-content-tour {
  position: relative;
  .text {
    margin-top: 30px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    background: url('../images/tour/tour-left.png');
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;

    top: 70px;
    height: calc(100% - 70px);
    background: url('../images/tour/tour-right.png');
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .line {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    left: 0;
    top: 42px;
  }
  .number-review {
    .block-review {
      position: relative;
      .review {
        &::before {
          left: 0px;
        }
      }
    }
    .lbl-review {
      color: #000;
    }
  }
    ul.nav-tabs {
      border: none;
      li 
      {
        &.active {
          a {
            color: #e01f1f;
            font-weight: 800;
            border: none;
            border-bottom: 3px solid #e01f1f !important;
          }
        }
          a.active {
            color: #e01f1f;
            font-weight: 800;
            border: none;
            border-bottom: 3px solid #e01f1f !important;
          }

        a {
          border: none !important;
          background-color: #fff !important;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .tab-content {
      padding-top: 30px;
      .title {
        font-size: 18px;
        font-weight: 800;
        margin-bottom: 10px;
      }

    }
    .wrapper-date {
      background-color: #fff;
      padding: 15px;
      box-sizing: border-box;
      box-shadow: 1px 2px 0px #000;
      -moz-box-shadow: 0 0 5px #888;
      -webkit-box-shadow: 0 0 5px#888;
      box-shadow: 0 0 5px #888;
      margin-top: -40px;
      .btn-book {
        padding-left: 50px;
        button {
          width: 100%;
          border-radius: 0;
          font-weight: normal;
          text-transform: uppercase;
        }
      }
      .row-item {
        display: flex;
        margin-bottom: 15px;
        .col-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          &:first-child {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            text-align: center;
          }
          &:last-child {
            flex: 1 1 100%;
          }
          select {
            width: 100%;
          }
          .icon-price {
            width: 16px;
            margin-top: 4px;
          }
          .icon-calendar {
            width: 14px;
          }
          .icon-persons {
            width: 16px;
          }
          .icon-person {
            width: 12px;

          }
          .icon-arrow {
            width: 12px;
          }
          .total {
            text-transform: uppercase;
          }
          .price-sum {
            font-weight: 600;
            color: #d02727;
            text-align: right;
            width: 100%;
            font-size: 20px;
          }
        }
        &:first-child {
          .col-item {
            &:first-child {
              align-items: flex-start;
            }
            span {
              display: block;
              font-weight: 800;
              width: 100%;
              text-align: center;
              font-size: 22px;
              margin: 15px 0px 10px 0;
            }
          }
        }
      }
    }
    .why {
      background-color: #e3e3e3;
      padding: 15px;
      margin-top: 30px;
      .title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        background: url('../images/tour/blane.png') no-repeat left center;
        padding: 10px 0 10px 75px;
        background-size: 60px;
      }
      ul {
        margin-left: 10px;
        padding: 0;
        li {
          list-style: none;
          background: url('../images/tour/icon-check.png') no-repeat left center;
          padding: 5px 0 5px 20px;
          background-size: 12px;
        }
      }
    }
    #tourInformation {
      .title {
        background: url('../images//tour/icon-motor.png') no-repeat left center;
        padding-left: 30px;        
      }
      .list-cate {
        li {
          padding-left: 20px;
          background: url('../images/tour/icon-check.png') no-repeat left center;
          background-size: 12px;
        }
      }
      .list-where {
        li {
          padding-left: 20px;
          background: url('../images/tour/icon-restange.png') no-repeat left center;
          background-size: 7px;
        }
      }
      .list-include {
        li {
          padding-left: 20px;
          background: url('../images/tour/icon-continue.png') no-repeat left center;
          background-size: 12px;
        }
      }
      .row-item {
        display: flex;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding: 10px 0;
        .col {
          padding: 0;
          &:first-child {
            font-weight: bold;
          }
        }
        ul { 
          padding: 0;
          li {
            list-style: none;
          }
        }
      }

    }
    #video {
      .title {
        background: url('../images//tour/icon-video.png') no-repeat left center;
        padding-left: 30px;        
      }
      video {
        width: 100%;
      }
    }
    #similarTours {
      .block-review {
        bottom: 0;
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        padding: 6px 20px;
        position: absolute;
      }
      .title {
        background: url('../images//tour/icon-moto.png') no-repeat left center;
        padding-left: 30px;        
      }
      .wrapper-similar-tours {
        display: flex;
        overflow-y: scroll;
        padding-bottom: 60px;
      }
      .content-col-tour {
        position: relative;
        margin-right: 30px;
        width: 30.3333%;
        min-width: 30.3333%;
      }
    }
    #gallary {
      padding-bottom: 60px;
      .title {
        background: url('../images//tour/icon-galarry.png') no-repeat left center;
        padding-left: 30px;        
      }
      .carousel-indicators {
        bottom: -50px;
        li {
          width: 25px;
          height: 5px;
          border: none;
          border-radius: 0;
          background-color: #e4e4e4;
          margin-right: 10px;

          &.active {
            background-color: #ffcc00;
          }
        }
      }
    }
}

.wrapper-content-blog {
  position: relative;
  padding-top: 30px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 70px;
    height: calc(100% - 70px);
    background: url('../images/blog/bg-left.png');
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;

    top: 70px;
    height: calc(100% - 70px);
    background: url('../images/blog/bg-right.png');
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .top-content {
    display: flex;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    .left {
      text-align: center;
      padding-right: 15px;
      border-right: 1px solid rgba(0,0,0,0.3);
      margin-right: 15px;
      width: 100px;
      min-width: 110px;
      img {
        width: 18px;

      }
      .month-text {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 20px;
      }
      .year {
        font-weight: 600;
        color: rgba(0,0,0,0.4);
      }
    }
    .right {
      font-weight: 800;
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  .content {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  .tag {
    .title {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 16px;
      color: #e54646;
      background: url('../images/blog/icon-tab.png') no-repeat left center;
      background-size: 26px;
      padding: 5px 0 5px 40px;
    }
    .group-button-tag {
      padding-left: 40px;
      margin: 10px 0;
      a {
        display: inline-block;
        background-color: #dfdfdf;
        text-transform: uppercase;
        padding: 5px 10px;
        margin-right: 5px;
        color: #000;
        margin-bottom: 5px;
        border: 1px solid rgba(0,0,0,0.2);
      }
    }
    ul.list-tag {
      padding: 0;
      padding-left: 40px;
      li {
        margin-bottom: 5px;
        list-style: none;
        a {

          font-weight: 600;
          color: #000;
          padding-left: 15px;
          background: url('../images/blog/icon-arrow.png') no-repeat left center;
        }
      }
      
    }
  }
  .right {
    .title {
      text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    color: #e54646;
    margin-bottom: 20px;
    }
    .recent-report {
      ul.list {
        padding: 0;
        li {
          background: url('../images/blog/icon-check.png') no-repeat left 10px;
          padding: 5px 0 5px 25px;
          border-bottom: 1px solid rgba(0,0,0,0.2);
          list-style: none;
          a {  
            color: #000;
            

          }
        }
        
      }
    }
    .category {
      margin: 30px 0;
      ul.list {
        padding: 0;

        li {
          list-style: none;
          padding: 5px 0 5px 0px;
          border-bottom: 1px solid rgba(0,0,0,0.2);

          a {
  
            font-weight: 600;
            color: #000;
            padding-left: 0px;
          }
        }
        
      }
    }
    .tag-right {
      .group-button-tag {
        margin: 10px 0;
        a {
          display: inline-block;
          text-transform: uppercase;
          padding: 5px 10px;
          margin-right: 5px;
          color: #000;
          margin-bottom: 5px;
          border: 1px solid rgba(0,0,0,0.2);
        }
      }
    }
  }
}
.content-faq {
  background: url('../images/faq/bg.png') no-repeat center center;
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    padding: 30px 0 45px 0;
  }
  .wrapper-collapse {
    margin-bottom: 15px;
    .content-collapse {
      padding: 30px;
      border: 1px solid rgba(0,0,0,0.2);
      margin-left: 50px;
    }
    .title-collapse {
      .head-collapse {
        &::before {
          content: '+';
          position: absolute;
          right: 15px;
          color: #d80e0e;
          top: 0px;
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
    .title-collapse[aria-expanded="true"]  {  
        .head-collapse {      
          &::before {
            content: '-';
            position: absolute;
            right: 15px;
            color: #d80e0e;
            top: -3px;
            font-size: 36px;
            font-weight: 400;
          }
        }
    } 

    .head-collapse {
      display: flex;
      height: 46px;
      line-height: 46px;
      background-color: #dadada;
      font-weight: 600;
      position: relative;
      padding-right: 45px;
     
      .text {
        padding-left: 30px;
      }
      .number {
        color: #fff;
        background-color: #d80e0e;
        min-width: 50px;
        max-width: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
        box-shadow: 0 2px rgba(0,0,0,0.7);
        height: 44px;

      }
    }
    
  }
  .top-video {
    background-color: #fff;
    box-shadow: 0 0 5px #888;
    padding: 10px;
    margin-bottom: 15px;
    .title {
      padding: 0;
      text-align: left;
      margin-bottom: 10px;
      color: #e54646;
    }
    video {
      width: 100%;
      object-fit: cover;
    }

  }
  .advisor {
    background-color: #fff;
    box-shadow: 0 0 5px #888;
    padding: 20px 10px;
    .row-item {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      padding: 10px 0;
      &:last-child {
        border-bottom: none;
      }
      .author {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4);

      }
      .big-txt {
        font-weight: 600;
        text-decoration: underline;
        font-size: 16px;
        margin-bottom: 5px;

      }
      .small-txt {
        font-size: 12px;
        color: rgba(0,0,0,0.4);
      }
      .middle-txt {
        font-weight: 600;
        font-size: 14px;
      }
      .read-review {
        a {
          color: #006699;
          font-weight: 600;
          padding-right: 10px;
          border-right: 1px solid rgba(0,0,0,0.3);
          &:last-child {
            padding-left: 10px;
            border-right: none;
          }

        }
      }
      .time-reviews {
        padding: 0;
        li {
          list-style: none;
          font-size: 12px;
        }
      }
      .blue-txt {
        color: #00af87;
      }
      .title-top {
        font-size: 18px;
        font-weight: 600;
        color: #00af87;
        background: url('../images/faq/icon-trip.png') no-repeat left center;
        padding-left: 45px;
        span {
          color: #000;
        }
      }
    }

  }

}

@media only screen and (max-width: 767px) {
  .col-comment .content-col {
    padding: 20px 0px 0px 0px;
  }
  .col-comment .content-col .top {
    padding: 0px 15px;
  }
  .col-comment .content-col .top .left {
    margin-right: 10px;
    padding-top: 5px;
    min-width: 50px;
  }
  .col-comment .content-col .top .left img {
    width: 50px;
  }
  .col-comment .content-col .top .right .txt {
    font-size: 12px;
  }
  .col-comment .content-col .top .right .view-on {
    margin: 10px 0 5px 0;
  }
  .col-comment .content-col .bottom {
    padding: 10px 15px;
  }
  .col-comment .content-col .bottom .left .avatar {
    width: 50px;
    height: 50px;
  }
  .col-comment .content-col .bottom .right {
    padding-left: 15px;
  }
  .col-comment .content-col .bottom .right .name {
    font-size: 16px;
  }
  .col-comment .content-col .bottom .right .txt {
    font-size: 12px;
  }
  .wrapper-video-gallary .videos .item {
    width: 100%;
    min-width: 100%;
  }
  .wrapper-photo-gallary .thum-image .row-thum {
    flex-wrap: wrap;
    height: auto;
  }
  .wrapper-photo-gallary .thum-image .row-thum:first-child .col-thum:first-child {
    flex: 1 1 100%;
    min-width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
  }
  .wrapper-photo-gallary .thum-image .row-thum:last-child .col-thum:first-child {
    flex: 1 1 100%;
    min-width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
  }
  .wrapper-photo-gallary .thum-image .row-thum .col-thum {
    height: 150px;
    min-height: 150px;
    max-height: 150px;
  }
  .wrapper-video-gallary {
    padding-top: 80px;
    margin-top: 15px;
    padding-bottom: 30px;
  }
  .wrapper-video-gallary .videos {
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .banner-blog {
    height: 320px;
  }
  .wrapper-content-blog {
    &::before {
      display: none;
    }
    &::after{
      display: none;
    }
  }
  .wrapper-content-blog .top-content .right {
    font-size: 14px;
  }
  .wrapper-content-blog .top-content .left .month-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1700px) {

  footer {
    padding-top: 120px;
    background-position: inherit;
  }

  #about {
    .block-item {
      .item {
        padding: 0px 10px;
      }
    }
  }

  .content-col-tour .info-price {
    text-align: left;

    button {
      float: right;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header {
    .navbar {
      ul {
        li {
          margin: 0 4px;
        }
      }

      a {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  footer {
    .row {
      >div {
        margin-bottom: 30px;
      }
    }

    .social-links {
      a {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  #menu {
    .row {
      position: static;

      >div {
        position: static;

        .navbar {
          position: static;

          .navbar-collapse {
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            background-color: white;
            padding: 20px 50px;
          }
        }
      }
    }
  }

  main {
    .content-blog {
      padding-left: 15px;
      margin-top: 50px;
    }

    .and-question {
      padding-right: 15px;
    }
  }
}

@media only screen and (max-width: 767px) {
  #popular-tour {
    .img-content {
      margin-top: 30px;
    }
  }

  footer {
    padding-top: 200px;
    margin-top: -120px;
  }
}
@media only screen and (max-width: 550px) {
  main {

    .content-blog,
    .block-popular {
      .media {
        img {
          max-width: 125px;
        }
      }
    }
  }

  #popular-tour .block-review {
    float: left;
  }
}

@media only screen and (max-width: 767px) {
  .slider-header .slider-image {
    height: 400px;
  }
  .slider-header .slider-description b {
    font-size: 20px;
    font-weight: 800;
  }
  .slider-header .slider-description {
    font-size: 18px;
  }
  header #menu {
    min-height: 60px;
  }
  header .navbar img {
    margin-left: 0px;
    width: 140px;
  }
  .slider-header {
    margin-top: -60px;
  }
  #topbar {
    display: none;
  }
  main .block-title {
    padding: 30px 0;
  }
  main .cus-title {
    font-size: 20px;
    margin-bottom: 0px;
  }
  #about .block-about > div:first-child {
    padding-right: 15px;
  }
  .block-item {
    min-width: 100% !important;
    margin: 0 !important;
  }
  #about .block-item .item {
    text-align: center;
    margin-top: 40px;
  }
  #about .block-item .item .item-img img {
    position: relative;
    bottom: 0;
  }
  #about .block-item .item .item-img {
    position: relative;
    min-height: auto;
    padding-bottom: 20px;
  }
  #about {
    background-image: none;
  }
  #about .block-about {
    padding: 15px 0;
  }
  main .block-title .cus-border:before {
    display: none;
  }
  #gallery .thum-col .flex-column.column-parent {
    height: 200px;
  }
  #question {
    padding: 15px 0;
    font-size: 16px;
  } 
  #question .card .collapsed b {
    color: black;
    font-size: 13px;
  }
  #popular-tour .title-line {
    font-size: 22px;
  }
  #popular-tour .block-popular {
    padding: 30px 0;
  }
  #popular-tour .popular-item {
    padding: 0 10px;
  }

 }

.container {
  @media (min-width: 576px) {
    max-width: 100%;
  }
  @media (min-width: 768px) {
    max-width: 100%;
  }
  @media (min-width: 992px) {
    max-width: 100%;
  }
  @media (min-width: 1200px) {
    max-width: 117rem;
  }

}